:root {
  @include font-style;
  color: map-get($map: $colors, $key: "primary");
}

* {
  box-sizing: border-box;
  overflow-x: hidden;
  color: map-get($map: $colors, $key: c-white);
}

body {
  margin: 0;
  padding: 0;
  background-color: map-get($map: $colors, $key: c-main-background);
}

h1,
h2,
h3,
h4,
h5,
h6,
li,
ul {
  background: none repeat scroll 0 0 transparent;
  border: 0 none;
  font-size: 100%;
  margin: 0;
  outline: 0 none;
  padding: 0;
  vertical-align: baseline;
}

// @keyframes progress-grow {
//   from { width: 0%; }
//   to { width: 100%; }
// }
